
body{
    background-image: url("./img/vacation.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.top-section{
    background:linear-gradient(0deg,rgba(40, 40, 41, 0.705),rgba(57, 57, 63, 0.603)),url("./img/currency.jpg");
    /* background-image: url("./img/currency.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
}


@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape)
{
    .navbar{
            display:none;
        }
}

 
