/* *{
    box-sizing: border-box;
    font-size: 16px;
    vertical-align: middle;
}

.convertTo, .countryGrid{
    background-color: rgb(88, 85, 85);
    border: solid 1px greenyellow;
    color:greenyellow;
    font-family: 'PT Serif', serif;
}

.countryGrid{
    align-content: center;
    max-width: 80%;
}

.converted{
     font-size:3rem;
}

.convertTo{
    margin-left: 10px;
}
*/

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape)
{
    .navbar{
            display:none;
        }
}

 
